<ons-navigator animation="slide" var="gallery">  
  <ons-page>
    <ons-toolbar modifier="opacity">
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Par catégorie</div>
    </ons-toolbar>

    <div class="app-page">
      <div class="app-page-menu">
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('restaurants.html');">
              <img src="images/menu/restaurant.png">
              <p>Restaurants</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('bars.html');">
              <img src="images/menu/bar.png">
              <p>Bars</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/boulangerie.png">
              <p>Boulangerie</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/boucherie.png">
              <p>Boucherie</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/mode.png">
              <p>Mode</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/services.png">
              <p>Services</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/hightech.png">
              <p>Hight-Tech</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/coiffure.png">
              <p>Coiffure</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/spa.png">
              <p>Bien-être</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/caviste.png">
              <p>Caviste</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/bijoux.png">
              <p>Bijoux</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('soon.html');">
              <img src="images/menu/autres.png">
              <p>Autres</p>
            </ons-button>
          </ons-col>
        </ons-row>

      </div>

    </div>

  </ons-page>
</ons-navigator>   