<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('about.html', {closeMenu: true})">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    ACCUEIL
  </ons-list-item>

  <ons-list-item class="menu-item" ng-click="menu.setMainPage('bonplans.html', {closeMenu: true})">
    <ons-icon icon="fa-th-large" fixed-width="true"></ons-icon>
    PAR CATEGORIE
  </ons-list-item>

  <ons-list-item class="menu-item" ng-click="menu.setMainPage('locations.html', {closeMenu: true})">
    <ons-icon icon="ion-pricetag" fixed-width="true"></ons-icon>
    BONS PLAN
    <div class="notification menu-notification">2</div>
  </ons-list-item>

 
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('profile.html', {closeMenu: true})">
    <ons-icon icon="ion-person" fixed-width="true"></ons-icon>
    MON PROFIL
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('markers.html', {closeMenu: true})">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    A PROXIMITE
  </ons-list-item>
</ons-list>

<ons-list class="bottom-menu-list">
  <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('contact.html', {closeMenu: true})">
    <ons-icon icon="ion-email" fixed-width="true"></ons-icon>
    Nous contacter
  </ons-list-item>
   <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
    <ons-icon icon="fa-sign-out" fixed-width="true"></ons-icon>
    Se déconnecter
          </ons-list-item>
        </ons-list>
</ons-list>

 <!-- 
<ons-list-item class="menu-item" ng-click="menu.setMainPage('#', {closeMenu: true})">

    ----DEBUG----
  </ons-list-item>

  <ons-list-item class="menu-item" ng-click="menu.setMainPage('signup.html', {closeMenu: true})">
    <ons-icon icon="ion-person-add" fixed-width="true"></ons-icon>
    Sign up
  </ons-list-item>
  
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
    <ons-icon icon="ion-log-in" fixed-width="true"></ons-icon>
    Login
  </ons-list-item>

    <ons-list-item class="menu-item" ng-click="menu.setMainPage('plugins.html', {closeMenu: true})">
    <ons-icon icon="ion-outlet" fixed-width="true"></ons-icon>
    Plugins
  </ons-list-item> 

  <ons-list-item class="menu-item" ng-click="menu.setMainPage('near-map.html', {closeMenu: true})">
    <ons-icon icon="ion-outlet" fixed-width="true"></ons-icon>
    Near me
  </ons-list-item> -->
