<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Mon profil</div>
    <div class="right">
      <ons-toolbar-button><ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div ng-controller="userCtrl" class="app-profile">
 <ons-list-item class="profile-card" ng-repeat="item in items" class="list-item-container">
    <div class="profile-card">

      <img src="images/profiles/profile-image-01.png" class="profile-image">
      <div class="profile-name"><p>{{item.firstName}} {{item.lastName}}</p></div> 
      <div class="profile-id"><p>{{item.email}}</p></div>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <filter id="blur">
          <feGaussianBlur stdDeviation="10" />
        </filter>
      </svg>
      <div class="black-overlay"></div>
      <div class="blur">
        <img src="images/bg.png" class="bg">
      </div>
    </div>

    <br>
  </div>
</ons-page>