<ons-page>
  <ons-toolbar modifier="transparent">    
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="right">
      <ons-toolbar-button class="white" ng-click="menu.setMainPage('login.html', {closeMenu: true})" >Log In</ons-toolbar-button>
    </div>
  </ons-toolbar>

    <div ng-controller="userCtrl" class="signup-page">
        <div class="signup-logo">
            <h2 class="home-title">DILL</h2>
            <p class="subtitle">Bon plans de proximité</p>
        </div>
        <div class="signup-form">
            <div class="signup-wrapper">
                <ons-row>
                    <ons-col>
                        <input ng-model="user.prenom" type="text" class="text-input--underbar width-full" placeholder="Prénom" value="">
                    </ons-col>
                    <ons-col width="15px"></ons-col>
                    <ons-col>
                        <input ng-model="user.nom" type="text" class="text-input--underbar width-full" placeholder="Nom" value="">
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col>
                        <input ng-model="user.email" type="text" class="text-input--underbar width-full" placeholder="Email" value="">
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col>
                        <input ng-model="user.mdp" type="password" class="text-input--underbar width-full" placeholder="Mot de passe" value="">
                    </ons-col>
                </ons-row>
                <div class="lucent">
                    <p class="note">Mot de passe - 6 caractères minimum</p>
                </div>
                <ons-row>
                    <ons-col>
                        <ons-button modifier="large" ng-click="inscription(user.prenom, user.nom, user.email, user.mdp)">Je m'inscris</ons-button>
                    </ons-col>
                </ons-row>
            </div>
        </div>
        <div class="blur">
            <img src="images/bg1.png" class="bg">
        </div>
    </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
   <filter id="blur">
     <feGaussianBlur stdDeviation="10" />
     </filter>
  </svg> 

</ons-page>